[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyomo = {extras = ["optional"], version = "*"}
bcrypt = "~=4.1.3"
pydantic = "~=2.10.3"
pydantic-settings = "~=2.0.2"
pandas = "*"

[dev-packages]
black = "~=24.8.0"
isort = "~=5.13.2"
pytest = "~=8.3.3"

[requires]
python_version = "3.12"
